node_modules
.next
out
.git
.gitignore
.env*
!.env.example
firebase-service-account.json
upload-secret.js
.firebase
coverage
tests/.dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
Dockerfile*
.dockerignore
docs
*.pem
